@font-face {
	font-family: 'Tektur';
	src: url('../fonts/Tektur-Regular.eot');
	src: local('Tektur Regular'), local('Tektur-Regular'),
		url('../fonts/Tektur-Regular.woff2') format('woff2'),
		url('../fonts/Tektur-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tektur';
	src: url('../fonts/Tektur-Medium.eot');
	src: local('Tektur Medium'), local('Tektur-Medium'),
		url('../fonts/Tektur-Medium.woff2') format('woff2'),
		url('../fonts/Tektur-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tektur';
	src: url('../fonts/Tektur-SemiBold.eot');
	src: local('Tektur SemiBold'), local('Tektur-SemiBold'),
		url('../fonts/Tektur-SemiBold.woff2') format('woff2'),
		url('../fonts/Tektur-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tektur';
	src: url('../fonts/Tektur-Bold.eot');
	src: local('Tektur Bold'), local('Tektur-Bold'),
		url('../fonts/Tektur-Bold.woff2') format('woff2'),
		url('../fonts/Tektur-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tektur';
	src: url('../fonts/Tektur-Black.eot');
	src: local('Tektur Black'), local('Tektur-Black'),
		url('../fonts/Tektur-Black.woff2') format('woff2'),
		url('../fonts/Tektur-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--container-pad: 100px;
	--header-top: 120px;

	--col-base: #b4985e;
	--col-text: #fff;

	/* background */
	--main-bg: url('../img/bg-all.jpg');
	/* icons */
	--icon-loc: transparent url(../icon/loc.png) no-repeat center center / contain;
	--icon-tel: transparent url(../icon/tel.png) no-repeat center center / contain;
	/* header */
	--head-food-bg: #000 url('../img/head-food-bg.jpg') no-repeat 0 0 / cover;
	--header-decor: transparent url('../img/header-decor.png') no-repeat right
		center / contain;
	/* burger */
	--menu-bg-one: #333 url(../img/img-burger/menu-bg-one.jpg) no-repeat center
		center / cover;
	--menu-bg-two: #333 url(../img/img-burger/menu-bg-two.jpg) no-repeat center
		center / cover;
	--menu-bg-three: #333 url(../img/img-burger/menu-bg-three.jpg) no-repeat
		center center / cover;
		--menu-bg-four: #333 url(../img/img-burger/menu-bg-five.jpg) no-repeat center
		center / cover;
		--menu-bg-five: #333 url(../img/img-burger/menu-bg-four.jpg) no-repeat center
			center / cover;
	/* about */
	--about-bg-left: url('../img/img-about/hummer.png') no-repeat center center /
		contain;
	--about-bg-right: url('../img/img-about/tool.png') no-repeat center center /
		contain;
}

body {
	font-family: 'Tektur';
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 1px;
}

.body::after {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: var(--main-bg);
	opacity: 0.15;
	z-index: -100;
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-pad);
	max-width: 1920px;
	width: 100%;
	height: 100%;
}

.indent {
	margin: 0 0 50px 0;
}

.logo-icon {
	width: clamp(100px, 8vw, 100px);
  height: clamp(70px, 5vw, 70px);
}

.title {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 1.5em 3em;
	width: max-content;
	min-width: 360px;
	height: 60px;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 1px;
	color: #333;
}

.title::after,
.title::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 44px 0;
	transition: transform 0.6s ease-in-out;
}

.title::after {
	border: 2px solid var(--col-base);
}

.title::before {
	border: 1px solid #333;
}

.active.title::after {
	transform: translate(-5%, -10%);
}

.active.title::before {
	transform: translate(5%, 10%);
}

.title-indent {
	margin-bottom: 25px;
}

.title-decor {
	color: #000;
}

.btn {
	padding: 1em 2.5em;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 500;
	border: 2px solid var(--col-base);
	border-radius: 2.5em 0;
	color: var(--col-base);
}

.work__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-auto-rows: minmax(600px, 1fr);
	gap: 75px 50px;
}

.work__item {
	position: relative;
	border: 2px solid var(--col-base);
	border-radius: 44px 0;
	width: 100%;
	height: 100%;
	color: #000;
	/* box-shadow: 0px 0px 4px 1px var(--col-base); */
}

.work__item-content {
	overflow: hidden;
}

.work__item-img {
	width: 100%;
	height: 100%;
	max-height: 300px;
	border-radius: 44px 0;
	object-fit: cover;
	filter: saturate(0.5);
	box-shadow: 4px 4px 12px 0px #241e13;
}

.work__item-descr {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px 10px 50px 10px;
	height: 100%;
}

.work__item-title {
	text-align: center;
	margin-bottom: 10px;
	font-weight: 600;
}

.work__item-text {
	font-size: 16px;
}

.work__item-btn {
	position: absolute;
	left: 50%;
	bottom: -25px;
	transform: translateX(-50%);
	background: #000;
	border-color: #fff;
	box-shadow: 0px 0px 0px 2px #000;
	color: #fff;
}

/* effects */
/* header nav */
.control-slide-icon {
	transition: transform 0.4s ease-in-out;
}

.control-slide-icon:hover {
	transform: scale(1.1);
}

.control-slide-icon path {
	transition: stroke 0.4s ease-in-out;
}

.control-slide-icon:hover path {
	stroke: #000;
}

/* ------------ */
.info-item {
	transition: box-shadow 0.4s ease-in-out;
}

.info-link {
	transition: color 0.4s ease-in-out;
}

.info-item:has(.info-link:hover) {
	color: var(--col-base);
	box-shadow: 0px 0px 5px 1px #241e13;
}
/* ------------ */
.header-top__item-link {
	transition: color 0.4s ease-in-out;
}

.header-top__item-link:hover {
	color: var(--col-base);
}

.header-top__item-link::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: var(--col-base);
	transition: width 0.5s ease-in-out;
}

.header-top__item-link:hover::before {
	width: 100%;
}

.header-top__item-link:focus {
	color: var(--col-base);
}

.header-top__item-link:not(:hover):focus::before {
	width: 50%;
}

.header-top__item-link:active {
	color: #fff;
}

.header-top__item-link:active::before {
	width: 100%;
	background-color: #fff;
}
/* ------------ */

.work__item-btn {
	transition: background 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.work__item-btn:hover {
	background: var(--col-base);
	filter: drop-shadow(0 0 5px #624a1f);
}

.header__back-link .path-bg-fill--back {
	transition: fill .4s ease-in-out;
}

.header__back-link .path-br-fill--back {
	transition: stroke .4s ease-in-out;
}

.header__back-link:hover .path-bg-fill--back {
	fill: rgba(255, 0, 0, 0.5);
}

.header__back-link:hover .path-br-fill--back {
	stroke: rgb(255, 37, 37);
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 18px;
		padding: 1.25em 2.5em;
		min-width: 260px;
	}

	.work__list {
		grid-template-columns: 1fr;
	}
}