.main {
	position: relative;
}

.main::after {
	content: '';
	position: fixed;
	top: -110px;
	right: 0;
	left: 0;
	width: 100%;
	height: calc(100% + 110px * 2);
	background: var(--main-bg);
	opacity: 0.15;
	z-index: -100;
}

.indent {
	margin: 0 0 50px 0;
}

.work.indent {
	margin-bottom: 70px;
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-pad);
	max-width: 1920px;
	width: 100%;
	height: 100%;
}

.active.title-decor {
	color: var(--col-base);
	transition: color 0.6s ease-in-out;
}

.title-indent {
	margin-bottom: 25px;
}

.btn {
	padding: 1em 2.5em;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 500;
	border: 2px solid var(--col-base);
	border-radius: 2.5em 0;
	color: var(--col-base);
}

.control-slide-btn {
	width: 50px;
	height: 60px;
	cursor: pointer;
}

.control-slide-icon {
	width: 100%;
	height: 100%;
}

/* ------header------ */
.header {
	min-height: 600px;
	max-height: 1100px;
	height: 100vh;
	border-bottom-right-radius: 44px;
	background: var(--head-food-bg);
	box-shadow: 0px 4px 12px 0px #333;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-top);
}

.header-top__burger-btn {
	display: none;
}

.header-top__logo {
	margin: 0 150px 0 0;
}

.header-top__logo-icon {
	width: clamp(100px, 8vw, 140px);
	height: clamp(70px, 5vw, 90px);
}

.header-top__nav {
	max-width: 680px;
	width: 100%;
	color: var(--col-text);
}

.header-top__list {
	display: flex;
	justify-content: space-between;
}

.header-top__item:nth-child(4) {
	/* display: none; */
}

.header-top__item:not(:last-child) {
	margin: 0 20px 0 0;
}

.header-top__item-link {
	position: relative;
}

.header-btm {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	height: calc(90% - var(--header-top));
}

.header-btm__tagline {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-btm__tagline-heading {
	font-size: clamp(48px, 4vw, 64px);
	font-weight: 700;
	color: var(--col-text);
}

.header-btm__decor {
	background: var(--header-decor);
	/* animation: decorMove 3s infinite alternate; */
}

@keyframes decorMove {
	to {
		transform: translateX(-10px);
	}
	from {
		transform: translateX(10px);
	}
}

.header-btm__contacts {
	display: none;
}

/* ------about------ */
.about__content {
	display: grid;
	grid-template-columns: 0.3fr 1fr 0.3fr;
	gap: 50px;
}

.about__bg-left {
	order: -1;
	background: var(--about-bg-left);
}

.about__bg-right {
	order: 1;
	background: var(--about-bg-right);
}

.about__descr-text {
	font-size: clamp(16px, 1.11vw, 18px);
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 1px;
	color: #333;
}

.about__descr-text:not(:last-child) {
	margin: 0 0 20px 0;
}

/* ------services------ */
.services__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: clamp(100px, 10vw, 300px);
	gap: clamp(25px, 3vw, 50px);
}

.services__item {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 0 0 clamp(10%, 5vw, 30%);
	font-size: clamp(16px, 1.11vw, 18px);
	line-height: 1.2;
	font-weight: 500;
	color: #333;
}

.services__item::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent url(../img/img-services/circle.svg) no-repeat left
		center / clamp(90px, 9vw, 164px);
}

/* ------work------ */
.work__item {
	position: relative;
	border: 2px solid var(--col-base);
	border-radius: 44px 0;
	width: 100%;
	height: 100%;
	color: #000;
}

.work__item-content {
	overflow: hidden;
}

.work__item-descr {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px 10px 50px 10px;
	height: 100%;
}

.work__item-title {
	text-align: center;
	margin-bottom: 10px;
	font-weight: 600;
}

.work__item-text {
	font-size: 16px;
}

.work__item-btn {
	position: absolute;
	left: 50%;
	bottom: -25px;
	transform: translateX(-50%);
	background: #000;
	border-color: #fff;
	box-shadow: 0px 0px 0px 2px #000;
	color: #fff;
}

/* details slider */
.work-details__item {
	display: none;
	opacity: 0;
}

.work-details__head {
	margin: 0 0 20px auto;
	padding: 10px 25px 10px 50px;
	max-width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid var(--col-base);
	border-radius: 44px 0;
	background: var(--head-food-bg);
	color: #fff;
	box-shadow: 0px 0px 5px 1px #241e13;
}

.work-details-title {
	font-size: 24px;
	font-weight: 600;
}

.work-details__btn-close {
	width: 40px;
	height: 26px;
}

.work-details__content-slider {
	position: relative;
	margin: 0 50px 20px 50px;
}

.work-details__slider {
	padding: 10px;
	height: 400px;
	overflow: hidden;
}

.work-details__slider-slide {
	border: 2px solid var(--col-base);
	border-radius: 44px 0;
	box-shadow: 0px 0px 5px 1px #241e13;
	overflow: hidden;
}

.work-details__slide-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.work-details__btn-prev,
.work-details__btn-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

.work-details__btn-prev {
	left: -60px;
}

.work-details__btn-next {
	right: -60px;
}

/* details descr */
.work-details-descr {
	padding: 20px;
	border: 2px solid var(--col-base);
	border-radius: 44px 0;
	background: var(--head-food-bg);
	color: #fff;
	box-shadow: 0px 0px 5px 1px #241e13;
}

/* ------contacts------ */
.contacts__content {
	display: grid;
	grid-template-columns: 0.56fr 0.44fr;
	grid-template-rows: 1fr;
	gap: 25px;
}

/* contacts map */
.contacts__map {
	position: relative;
	height: 300px;
	border: 2px solid;
	border-radius: 44px 0;
	overflow: hidden;
	box-shadow: 0px 0px 5px 1px #241e13;
	transition-property: width, height, padding;
	transition-duration: 100ms;
	overflow: hidden !important;
}

.contacts__map-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 44px 0; /* ????? */
	overflow: hidden; /* ?????? */
}

.ymaps-2-1-79-map {
	border-radius: 44px 0; /* ????? */
}

.ymaps-2-1-79-events-pane {
	border-radius: 44px 0; /* ????? */
}

.ymaps-2-1-79-inner-panes {
	border-radius: 44px 0; /* ????? */
}

.ymaps-2-1-79-ground-pane {
	filter: grayscale(1);
}

.ymaps-2-1-79-copyright__logo-cell,
.ymaps-2-1-79-copyright__text,
.ymaps-2-1-79-copyright__agreement {
	display: none;
}

/* contacts info */
.contacts__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contacts__info-title {
	font-size: 24px;
	font-weight: 600;
}

.info-item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 3px solid var(--col-base);
	border-radius: 20px 0;
}

.info-icon {
	min-width: 40px;
	height: 40px;
}

.info-link {
	font-size: 18px;
	font-weight: 500;
	transition: color 0.4s ease-in-out;
}

.contacts__info__address-icon {
	background: transparent url(../icon/loc.png) no-repeat center center / contain;
}

.contacts__info__number-icon {
	background: transparent url(../icon/tel.png) no-repeat center center / contain;
}

.contacts__info__number-link {
	letter-spacing: 2px;
}

/* -----reviews------ */
.reviews__slider-container {
	position: relative;
	margin: 0 70px;
}

.reviews__slider-content {
	max-width: 1920px;
}

.reviews__slider-slide {
	padding: 20px;
	min-height: 100%;
	border: 3px solid var(--col-base);
	border-radius: 44px 0;
	transition-duration: 0.4s;
}

.reviews__btn-prev,
.reviews__btn-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.reviews__btn-prev {
	left: -70px;
}

.reviews__btn-next {
	right: -70px;
}

.swiper-button-disabled {
	opacity: 0;
}

.reviews__comment {
	display: flex;
	gap: 20px;
}

.reviews__comment-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.reviews__comment-avatar {
	max-width: 150px;
	border: 2px solid var(--col-base);
	border-radius: 44px 0;
	box-shadow: 0px 0px 10px 1px #624a1f;
	object-fit: cover;
}

.reviews__comment__author {
	text-align: center;
}

.reviews__comment__author-name {
	font-weight: 600;
}

.reviews__comment__author-time {
	font-size: 11px;
}
.reviews__comment-text {
	font-size: clamp(16px, 1.11vw, 18px);
}

/* ------footer------ */
.footer {
	width: 100%;
	min-height: 240px;
	border-top-left-radius: 44px;
	box-shadow: 0px -4px 12px 0px #333;
	background: var(--head-food-bg);
}

.footer__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	padding: 50px 0;
}

.footer-left__logo {
	margin: 0 0 20px 0;
}

.footer-left__logo-icon {
	width: clamp(100px, 8vw, 140px);
	height: clamp(70px, 5vw, 90px);
}

.footer-left__item:not(:last-child) {
	margin: 0 0 20px 0;
}

.footer-left__item-link {
	color: var(--col-text);
}

.footer__content-center {
	align-self: center;
}

.footer-center__item {
	display: flex;
	align-items: center;
}

.footer-center__item:not(:last-child) {
	margin: 0 0 20px 0;
}

.footer-center__policy-icon {
	margin: 0 10px 0 0;
	width: 50px;
	height: 50px;
	background: transparent url('../icon/policy.png') no-repeat center left /
		contain;
}

.footer-center__conditions-icon {
	margin: 0 20px 0 0;
	width: 50px;
	height: 50px;
	background: transparent url('../icon/conditions.png') no-repeat center left /
		contain;
}

.footer-center__policy-link,
.footer-center__conditions-link {
	color: var(--col-text);
}

.footer__content-right {
	background: transparent url('../img/footer-decor.png') no-repeat center right /
		contain;
}

/* effects */
/* header nav */
.control-slide-icon {
	transition: transform 0.4s ease-in-out;
}

.control-slide-icon:hover {
	transform: scale(1.1);
}

.control-slide-icon path {
	transition: stroke 0.4s ease-in-out;
}

.control-slide-icon:hover path {
	stroke: #000;
}

/* ------------ */
.info-item {
	transition: box-shadow 0.4s ease-in-out;
}

.info-link {
	transition: color 0.4s ease-in-out;
}

.info-item:has(.info-link:hover) {
	color: var(--col-base);
	box-shadow: 0px 0px 5px 1px #241e13;
}
/* ------------ */
.header-top__item-link {
	transition: color 0.4s ease-in-out;
}

.header-top__item-link:hover {
	color: var(--col-base);
}

.header-top__item-link::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: var(--col-base);
	transition: width 0.5s ease-in-out;
}

.header-top__item-link:hover::before {
	width: 100%;
}

.header-top__item-link:focus {
	color: var(--col-base);
}

.header-top__item-link:not(:hover):focus::before {
	width: 50%;
}

.header-top__item-link:active {
	color: #fff;
}

.header-top__item-link:active::before {
	width: 100%;
	background-color: #fff;
}
/* ------------ */
.work-details__btn-close .path-bg-fill--close,
.work-details__btn-close .path-br-fill--close {
	transition: fill 0.4s ease-in-out;
}

.work-details__btn-close:hover .path-bg-fill--close {
	fill: rgba(255, 0, 0, 0.5);
}

.work-details__btn-close:hover .path-br-fill--close {
	fill: red;
}

.work__item-btn {
	transition: background 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.work__item-btn:hover {
	background: var(--col-base);
	filter: drop-shadow(0 0 5px #624a1f);
}

/* ------------- */
.footer-left__item-link {
	transition: color .4s ease-in-out;
}

.footer-left__item-link:hover {
	color: var(--col-base);
}

.footer-center__policy-link,
.footer-center__conditions-link {
	transition: color .4s ease-in-out;
}

.footer-center__policy-link:hover,
.footer-center__conditions-link:hover {
	color: var(--col-base);
}

@media screen and (max-width: 1024px) {
	:root {
		--container-pad: 50px;
		--header-top: 100px;
	}

	/* ------header-top------ */
	.header-top__burger-btn {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 60px;
		height: 40px;
	}

	.header-top__burger-line {
		width: 100%;
		height: calc(100% / 5);
		border-radius: 10px 0;
		background-color: #fff;
		transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
	}

	.burger--active .burger-line-one {
		transform: translateY(200%) rotate(45deg);
	}

	.burger--active .burger-line-two {
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	.burger--active .burger-line-three {
		border-radius: 0 10px;
		transform: translateY(-200%) rotate(-45deg);
	}

	.header-top__logo {
		margin: 0;
	}

	.header-top__nav {
		position: absolute;
		top: var(--header-top);
		left: 0;
		padding: 25px var(--container-pad);
		max-width: 100%;
		z-index: 10;
		margin-left: -200%;
		transition: transform 0.6s ease-in-out 0.3s;
	}

	.nav--visible {
		transform: translateX(200%);
		transition: transform 0.6s ease-in-out;
	}

	.header-top__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(60px, 1fr);
		gap: 50px;
	}

	.header-top__item {
		position: relative;
		padding: 10px 30px;
		border: 4px solid #000;
		border-radius: 44px 0;
		box-shadow: 0px 0px 0px 2px #fff;
		overflow: hidden;
	}

	.header-top__item:not(:last-child) {
		margin: 0;
	}

	.header-top__item:nth-child(4) {
		display: none;
	}

	.header-top__item-link {
		position: static;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		font-size: 22px;
		font-weight: 600;
		color: #000;
	}

	.header-top__item-link::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.header-top__item:nth-child(1) .header-top__item-link::after {
		background: var(--menu-bg-one);
		/* transition: transform 0.4s ease-in-out; */
	}

	.header-top__item:nth-child(2) .header-top__item-link::after {
		background: var(--menu-bg-two);
		/* transition: transform 0.4s ease-in-out 0.2s; */
	}

	.header-top__item:nth-child(3) .header-top__item-link::after {
		background: var(--menu-bg-three);
		/* transition: transform 0.4s ease-in-out 0.4s; */
	}

	.header-top__item:nth-child(4) .header-top__item-link::after {
		background: var(--menu-bg-four);
		/* transition: transform 0.4s ease-in-out 0.6s; */
	}

	.header-top__item:nth-child(5) .header-top__item-link::after {
		display: block;
		background: var(--menu-bg-five);
		/* transition: transform 0.4s ease-in-out 0.6s; */
	}

	/* ------header-btm------ */
	.header-btm {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.3fr;
	}

	.header-btm__tagline,
	.header-btm__decor {
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out 0.6s;
	}

	.header-btm--hide .header-btm__tagline,
	.header-btm--hide .header-btm__decor {
		opacity: 0;
		z-index: -1;
		transition: opacity 0.4s ease-in-out;
	}

	.header-btm__tagline {
		order: 1;
	}

	.header-btm__tagline-heading {
		text-align: center;
	}

	.header-btm__tagline-btn {
		align-self: center;
	}

	.header-btm__decor {
		background-position: center center;
	}

	.header-btm__contacts {
		position: absolute;
		right: var(--container-pad);
		bottom: 25px;
		left: var(--container-pad);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;
		transform: translateX(-200%);
		transition: transform 0.6s ease-in-out 0.3s;
	}

	.header-btm__contacts__block-address {
		grid-column: span 2;
	}

	.contacts--visible {
		transform: translateX(0);
		transition: transform 0.6s ease-in-out;
	}

	.header-btm__contacts__block-address,
	.header-btm__contacts__block-number {
		transform: rotateX(90deg);
		transition: transform 0.6s ease-in-out;
	}

	.contacts--visible .header-btm__contacts__block-address,
	.contacts--visible .header-btm__contacts__block-number {
		transform: rotateX(0);
		transition: transform 0.6s ease-in-out 0.3s;
	}

	.header-btm__contacts__block-address,
	.header-btm__contacts__block-number {
		position: relative;
		display: flex;
		align-items: center;
		padding: 10px 20px;
		border: 2px solid #b4985e;
		border-radius: 44px 0;
		overflow: hidden;
		/* background: #fff url(../img/header-contacts-bg.png) no-repeat center center /
			cover; */
	}

	.header-btm__contacts__address-link::after,
	.header-btm__contacts__number-link::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff url(../img/header-contacts-bg.png) no-repeat center center /
			cover;
		z-index: -1;
	}

	.header-btm__contacts__address-icon,
	.header-btm__contacts__email-icon,
	.header-btm__contacts__number-icon {
		margin: 0 10px 0 0;
		min-width: 40px;
		height: 40px;
	}

	.header-btm__contacts__address-icon {
		background: var(--icon-loc);
	}

	.header-btm__contacts__number-icon {
		background: var(--icon-tel);
	}

	.header-btm__contacts__address-link,
	.header-btm__contacts__email-link,
	.header-btm__contacts__number-link {
		font-size: 18px;
		font-weight: 600;
		color: #000;
	}

	/* work */
	.work-details__btn-close {
		width: clamp(30px, 7vw, 60px);
		height: clamp(20px, 4vw, 40px);
	}

	/* effects */
	.header-top__burger-line {
		transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out,
			background 0.4s ease-in-out, width 0.4s ease-in-out;
		/* transform 0.4s ease-in-out, opacity 0.8s ease-in-out */
	}

	.header-top__burger-btn:hover .header-top__burger-line {
		background: var(--col-base);
	}

	.header-top__burger-btn:hover .burger-line-two {
		width: 60%;
	}

	.header-top__burger-btn:not(:hover):focus .header-top__burger-line {
		background: var(--col-base);
	}

	.header-top__item {
		transition: border 0.6s ease-in-out;
	}

	.header-top__item-link::before {
		display: none;
	}

	.header-top__item:has(.header-top__item-link:hover) {
		border-color: var(--col-base);
		transition: border 0.6s ease-in-out;
	}

	.header-top__item-link::after {
		transition: opacity 0.6s ease-in-out;
	}

	.header-top__item .header-top__item-link:hover::after {
		opacity: 0.2;
	}

	/* .header-top__item:hover .header-top__item-link::after {
		background: rgba(255, 255, 255, 0.2);

	} */

	.header-btm__contacts__address-link::after,
	.header-btm__contacts__number-link::after {
		transition: opacity 0.6s ease-in-out;
	}

	.header-btm__contacts__address-link:hover::after,
	.header-btm__contacts__number-link:hover::after {
		opacity: 0.2;
	}

	.header-btm__contacts__address-link,
	.header-btm__contacts__number-link {
		transition: color 0.6s ease-in-out;
	}

	.header-btm__contacts__address-link:hover,
	.header-btm__contacts__number-link:hover {
		color: var(--col-base);
	}
}

@media screen and (max-width: 768px) {
	:root {
		--container-pad: 10px;
		--header-top: 70px;
	}

	.title {
		font-size: 20px;
		padding: 1.25em 2.5em;
		min-width: 260px;
	}

	.btn {
		font-size: 16px;
	}

	.control-slide-btn {
		width: clamp(30px, 8vw, 50px);
		height: clamp(40px, 9vw, 60px);
	}

	.header-top__burger-btn {
		width: 40px;
		height: 25px;
	}

	.header-top__list {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.header-top__item {
		position: relative;
		top: -200%;
		left: -200%;
	}

	.header-top__item:nth-child(4) {
		display: block;
	}

	.header-top__item:nth-child(1) {
		transition: transform 0.4s ease-in-out;
	}

	.header-top__item:nth-child(2) {
		transition: transform 0.4s ease-in-out 0.1s;
	}

	.header-top__item:nth-child(3) {
		transition: transform 0.4s ease-in-out 0.2s;
	}

	.header-top__item:nth-child(4) {
		transition: transform 0.4s ease-in-out 0.3s;
	}

	.header-top__item:nth-child(5) {
		transition: transform 0.4s ease-in-out 0.4s;
	}

	.nav--visible .header-top__item {
		transform: translate(200%, 200%);
	}

	.header-top__item-link {
		font-size: clamp(18px, 4vw, 22px);
	}

	.header-top__logo-icon {
		width: 100px;
		height: 50px;
	}

	.header-btm__contacts {
		display: none;
	}

	.header-btm__tagline-heading {
		font-size: clamp(32px, 8vw, 48px);
	}

	/* ------about------ */
	.about__content {
		position: relative;
		grid-template-columns: 1fr;
		padding: 0 10px;
	}

	.about__content::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../img/img-about/hummer.png') no-repeat center
			center / contain;
		z-index: -1;
		opacity: 0.2;
	}

	.about__bg-left,
	.about__bg-right {
		display: none;
	}

	.about__bg-left {
		background: transparent url('../img/cirp.png') no-repeat left center /
			contain;
	}

	.about__descr-text {
		font-size: clamp(14px, 3vw, 16px);
	}

	/* ------work------ */
	/* .work__list {
		grid-template-columns: 1fr;
	} */

	.work__item-title {
		font-size: 16px;
	}

	.work__item-text {
		font-size: clamp(14px, 3vw, 16px);
	}

	.work-details__head {
		margin: 0;
		max-width: 100%;
	}

	.work-details-title {
		font-size: 16px;
	}

	.work-details__icon-close {
		width: 40px;
		height: 40px;
	}

	.work-details__content-slider {
		margin: 0;
	}

	.work-details__slider {
		height: 300px;
	}

	.work-details__btn-next {
		right: 12px;
	}

	.work-details__btn-prev {
		left: 12px;
	}

	.work-details__btn-next::after,
	.work-details__btn-prev::after {
		content: '';
		position: absolute;
		top: -10%;
		bottom: 0;
		width: 120%;
		height: 120%;
		border: 2px solid var(--col-base);
		background: var(--head-food-bg);
		background: rgba(221, 221, 221, 0.8);
		z-index: -1;
	}

	.work-details__btn-next::after {
		right: 0;
		border-radius: 20px 0 0;
		border-right: none;
		box-shadow: -4px 0px 8px 0px #241e13;
	}

	.work-details__btn-prev::after {
		left: 0;
		border-radius: 0 20px 0 0;
		border-left: none;
		box-shadow: 4px 0px 8px 0px #241e13;
	}

	.work-details__icon-prev,
	.work-details__icon-next {
		width: 100%;
		height: 100%;
	}

	.work-details-text {
		font-size: clamp(14px, 3vw, 16px);
	}

	/* ------contacts------ */
	.contacts__content {
		grid-template-columns: 1fr;
	}

	.contacts__info {
		gap: 20px;
	}

	.contacts__info-title {
		display: none;
	}

	/* ------reviews------  */
	.reviews__slider-container {
		margin: 0;
	}

	.reviews__slider-slide {
		position: relative;
		padding: 20px clamp(20px, 7vw, 45px);
		border-left: none;
		border-right: none;
	}

	.reviews__slider-slide::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 3px;
		height: 100px;
		background-color: var(--col-base);
	}

	.reviews__slider-slide::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 3px;
		height: 100px;
		background-color: var(--col-base);
	}

	.reviews__comment {
		flex-direction: column;
	}

	.reviews__comment-info {
		flex-direction: row;
	}

	.reviews__comment-avatar {
		max-width: 300px;
		width: 100%;
		max-height: 150px;
		height: 100%;
		object-position: center top;
	}

	.reviews__comment__author {
		align-self: center;
		min-width: 120px;
	}

	.reviews__comment-text {
		font-size: clamp(14px, 3vw, 16px);
	}

	.reviews__btn-prev {
		border-radius: 10px 0;
		position: absolute;
		top: 50%;
		left: -8px;
		transform: translateY(-50%);
		z-index: 10;
	}

	.reviews__btn-next {
		border-radius: 10px 0;
		position: absolute;
		top: 50%;
		right: -8px;
		transform: translateY(-50%);
		z-index: 10;
	}

	/* ------footer------ */
	.footer__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-left__logo-icon {
		width: 80px;
		height: 54px;
	}

	.footer__content-center {
		order: 1;
		grid-column: span 2;
		justify-self: center;
	}

	.footer-center__policy-icon,
	.footer-center__conditions-icon {
		display: none;
	}
}
